<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
        <link rel="stylesheet" href="style.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
        <script src="searchp.js"></script>
    </head>
    <body ng-app="app" ng-cloak>
        <div ng-controller="searchPostsController">
        	<md-toolbar class="md-hue-2" layout="column">
		      	<div class="md-toolbar-tools">
		        	<md-button aria-label="Timeline" ng-disabled="{{!user.id}}" ng-href="{{'home.html'}}">
          				Timeline
        			</md-button>
		        	<md-button aria-label="Search Profiles" ng-href="{{'search.html'}}">
          				Search Profiles
        			</md-button>
        			<md-button aria-label="Search Posts" ng-href="{{'searchp.html'}}">
          				Search Posts
        			</md-button>
        			<md-button aria-label="My Page" ng-disabled="{{!user.id}}" ng-href="{{'page.html?id=' + user.id}}">
          				My Page
        			</md-button>
        			<md-button aria-label="Post" ng-disabled="{{!user.id}}" ng-href="{{'post.html'}}">
          				Create Post
        			</md-button>
        			<p flex></p>
                    <md-button aria-label="Logout" ng-if="user.id" ng-href="{{'login.html'}}">
                        Logout
                    </md-button>
        			<md-button aria-label="Login" ng-if="!user.id" ng-href="{{'login.html'}}">
          				Login
        			</md-button>        			
		      	</div>
		    </md-toolbar>

        	<div class="md-padding" layout="row" layout="column" layout-align="space-around" ng-if="!ready">
      			<md-progress-circular md-mode="indeterminate"></md-progress-circular>
    		</div>
        	<div ng-if="ready">
	        	<md-toolbar class="md-padding"> 
			      <div layout="row">
			        	<h2 class="md-toolbar-tools">
			          		<span>All posts</span>
			        	</h2>
			      	</div>
			    </md-toolbar>



			  	<md-subheader layout="column" layout-align="space-around center">
			     	<md-switch ng-model="profileSearch">Search by profile</md-switch>
			      	<md-switch ng-model="contentSearch">Search by content</md-switch>
			      	<md-switch ng-model="tagSearch">Search by tag</md-switch>
			      	<md-switch ng-model="dateSearch">Search by date</md-switch>   
		            <md-input-container class="md-primary">
		                <label>Search posts</label>
		                <input type="text" ng-model="name"/>
		                <md-tooltip md-direction="bottom">Enter search terms separated by commas</md-tooltip>
		            </md-input-container>
	            </md-subheader>

				<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center"> 
		            <md-list>
		                <md-list-item ng-repeat="p in posts | searchFor:name:profileSearch:contentSearch:tagSearch:dateSearch">
		                	<div flex-xs flex-gt-xs="100" layout="column">
			                    <md-card layout-align="space-around center">
							        <md-card-header>
							          	<md-card-avatar>
								            <img ng-src="{{p.icon}}" class="md-user-avatar"></img>
							          	</md-card-avatar>
							          	<md-card-header-text>
							            	<span class="md-title">{{p.name}}</span>
								            <span class="md-subhead">{{'#' + p.tag}}</span>
							          	</md-card-header-text>
							        </md-card-header>
							        <md-card-content>
							        </md-card-content>
							        	<p class="md-padding">{{p.content}}</p >
							        <md-card-title>
							          	<md-card-title-text layout="column" layout-align="space-around center">
							          		<md-card-title-media>
							          			<img ng-if="p.media != null" ng-src="{{p.media}}" class="md-card-image" alt="Media" id="post-image">
							          		</md-card-title-media>
							            	<span class="md-subhead">{{p.date}}</span>
							            	<span class="md-subhead">{{p.timestamp}}</span>
							          	</md-card-title-text>
							        </md-card-title>

							        <md-chips ng-model="p.tags" readonly="true" md-removable="false" input-aria-label="Tags">
							        	<md-chip-template>
							          		<strong>{{$chip}}</strong>
							        	</md-chip-template>
							        </md-chips>
							     	
							        <md-card-actions layout="row" layout-align="start center">
							          	<md-button ng-if="user.id != p.tag && user.id" ng-click="follow(p.tag)" aria-label="Unfollow or follow user">
							          		<p ng-if="!user.following.includes(p.tag)">Follow</p>
							          		<p ng-if="user.following.includes(p.tag)">Unfollow</p>
							          	</md-button>
							          	<md-button ng-href="{{'page.html?id=' + p.tag}}">Go To Page</md-button>
							        </md-card-actions>

							        
						      	</md-card>
					      	</div>
		                </md-list-item>
		            </md-list>  
		            
	        	</md-content>
	        </div>
        </div>
    </body>
</html>
